*{
	margin:0;
	padding:0;
	list-style:none;
}

	@mixin font{
		font:13px/1.5 微软雅黑,simsun,sans-serif;
	}
.container{
	width:1366px;
	height:2991px;
}
a{
	text-decoration: none;
}
.header{
	position:relative;
	overflow:hidden;
	width:1000px;
	height:78px;
	margin:0 auto;
	.logo{
		text-indent:-999;
		margin-top:20px;
		margin-right:40px;
		width:153px;
		height:37px;
		a{
			display:block;
		}
	}
	.search{
		position:absolute;
		top:22px;
		left:195px;
		width:298px;
		height:34px;
		border:1px solid #ccc;
		line-height:34px;
		input{
			position:absolute;
			left:0;
			top:0;
			width:249px;
			height:24px;
			line-height:24px;
			border:0;
			padding:5px 0;
			color:#666;
			margin-left:14px;
		}
		.btn{
			position:absolute;
			top:0;
			right:0;
			width:34px;
			height:34px;
			i{
				display:block;
				margin:9px 0 0 9px;
				width:16px;
				height:16px;
				background:url(../images/search.png) -40px -56px;
			&:hover{
					background:url(../images/search.png) -40px -86px;
				}
			}
		}
	}
	.header-right{
		position:absolute;
		top:30px;
		right:0;
		width:402px;
		height:25px;
		.list{
			width:250px;
			height:19.5px;
			border-right: 1px solid #e6e6e6;
			padding-right: 11px;
			li{
				float:left;
				width:82px;
				text-align:center;
				line-height:19.5px;
				a{
					color:#777;
					@include font;
					&:hover{
						color:#009af3;
					}
				}
			}
		}
		.login-reg{
			position:absolute;
			right:0;
			top:-5px;
			@include font;
			width:110px;
			height:30px;
			a{
				display:block;
				float:left;
				width:48px;
				height:28px;
				border-radius:2px;
				text-align:center;
				line-height:28px;
			}
			.login{
				border:1px solid #169af3;
				background-color:#169af3;
				color:#fff;
				&:hover{
					background-color:#158fe1;
					border:1px solid #158fe1;
				}
			}
			.reg{
				border:1px solid #dbdbdb;
				color:#777;
				margin-left:10px;
				&:hover{
					border:1px solid #009af3;
					color:#009af3;
				}
			}
		}
	}
}