 @mixin font {
     font: 13px/1.5 微软雅黑, simsun, sans-serif;
 }

 #container {
     width: 100%;
     margin: 0 auto;
 }

 a {
     text-decoration: none;
 }
 /* 头部开始 */

 .header {
     position: relative;
     overflow: hidden;
     width: 1000px;
     height: 78px;
     margin: 0 auto;
     .logo {
         text-indent: -999;
         margin-top: 20px;
         margin-right: 40px;
         width: 153px;
         height: 37px;
         a {
             display: block;
         }
     }
     .search {
         position: absolute;
         top: 22px;
         left: 195px;
         width: 298px;
         height: 34px;
         border: 1px solid #ccc;
         line-height: 34px;
         input {
             position: absolute;
             left: 0;
             top: 0;
             width: 249px;
             height: 24px;
             line-height: 24px;
             border: 0;
             padding: 5px 0;
             color: #666;
             margin-left: 14px;
         }
         .btn {
             position: absolute;
             top: 0;
             right: 0;
             width: 34px;
             height: 34px;
             i {
                 display: block;
                 margin: 9px 0 0 9px;
                 width: 16px;
                 height: 16px;
                 background: url(../images/search.png) -40px -56px no-repeat;
                 &:hover {
                     background: url(../images/search.png) -40px -86px no-repeat;
                 }
             }
         }
     }
     .header-right {
         position: absolute;
         top: 30px;
         right: 0;
         width: 402px;
         height: 25px;
         .list {
             width: 250px;
             height: 19.5px;
             border-right: 1px solid #e6e6e6;
             padding-right: 11px;
             li {
                 float: left;
                 width: 82px;
                 text-align: center;
                 line-height: 19.5px;
                 a {
                     color: #777;
                     @include font;
                     &:hover {
                         color: #009af3;
                     }
                 }
             }
         }
         .login-reg {
             position: absolute;
             right: 0;
             top: -5px;
             @include font;
             width: 110px;
             height: 30px;
             a {
                 display: block;
                 float: left;
                 width: 48px;
                 height: 28px;
                 border-radius: 2px;
                 text-align: center;
                 line-height: 28px;
             }
             .login {
                 border: 1px solid #169af3;
                 background-color: #169af3;
                 color: #fff;
                 &:hover {
                     background-color: #158fe1;
                     border: 1px solid #158fe1;
                 }
             }
             .reg {
                 border: 1px solid #dbdbdb;
                 color: #777;
                 margin-left: 10px;
                 &:hover {
                     border: 1px solid #009af3;
                     color: #009af3;
                 }
             }
         }
     }
 }
 /* 头部结束 */
 /* 导航栏开始 */

 .nav {
     width: 100%;
     height: 55px;
     z-index: 999;
     background-color: #2c323b;
     .nav-nav {
         width: 1000px;
         height: 55px;
         margin: 0 auto;
         .nav-left {
             float: left;
             >li {
                 float: left;
                 @include font;
                 line-height: 55px;
                 >a {
                     display: block;
                     padding: 0 30px;
                     font-size: 16px;
                     color: #ddd;
                     &:hover {
                         background-color: #0c8ed9;
                         color: #fff;
                     }
                 }
                 .more {
                     padding: 0 40px;
                     background: url(../images/arrowMored.png) 80px 25px no-repeat;
                     &:hover {
                         background: url(../images/arrowMoreu.png) 80px 25px no-repeat;
                         background-color: #0c8ed9;
                         color: fff;
                     }
                 }
                 .nav-slide {
                     z-index: 999;
                     background-color: #2c323b;
                     display: none;
                     >li {
                         line-height: 34px;
                         >a {
                             display: block;
                             text-align: center;
                             font-size: 16px;
                             color: #ddd;
                             &:hover {
                                 border-top: 1px solid #383d44;
                                 background-color: #2d343d;
                             }
                         }
                     }
                 }
                 &.li-more:hover {
                     position: relative;
                     .nav-slide {
                         position: absolute;
                         top: 55px;
                         left: 0;
                         width: 100%;
                         display: block;
                     }
                 }
             }
         }
         .nav-right {
             float: right;
             li {
                 float: left;
                 @include font;
                 margin-left: 30px;
                 line-height: 55px;
                 a {
                     padding-left: 20px;
                     color: #bbb;
                 }
             }
             .nav-one {
                 background: url(../images/sprite.png) 0px -119px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -101px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-two {
                 background: url(../images/sprite.png) 0px -155px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -137px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-three {
                 background: url(../images/sprite.png) 0px -191px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -173px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-four {
                 background: url(../images/sprite.png) 0px -226px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -208px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-five {
                 background: url(../images/sprite.png) 0px -281px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -245px no-repeat;
                     color: #14a9ff;
                 }
             }
         }
     }
 }
 /* 导航栏结束 */
 /* 音频部分 */

 .audio {
     position: relative;
     width: 100%;
     height: 566px;
     @include font;
     overflow: hidden;
     background-color: #000;

     .picture {
         position: absolute;
         top: 0;
         height: 0;
         width: 100%;
         height: 100%;
         z-index: 10;
         opacity: 0.6;
         background-color: rgba(0, 0, 0, .35);
         background-image: url(../images/20160426113238585.jpg); // background-color: rgba(0, 0, 0, .35);
     }
     .print {
         background-size: cover;
         -webkit-filter: blur(90px);
         -moz-filter: blur(90px);
         -o-filter: blur(90px);
         -ms-filter: blur(90px);
         filter: blur(90px);
     }
     .iebg {
         position: absolute;
         top: 0;
         height: 0;
         width: 100%;
         height: 100%;
         z-index: 9;
         opacity: 0.6;
         background-image: url(../images/iebg.jpg);
     }
     .content {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         margin: auto;
         width: 840px;
         height: 493px;
         margin-top: 10px;
         background: red;
         z-index: 100;
         .content-left {
             float: left;
             width: 262px;
             height: 352px;
             .img {
                 width: 262px;
                 height: 262px;
                 margin-bottom: 25px;
             }
             .down {
                 width: 262px;
                 height: 50px;
                 margin-top: 40px;
                 text-align: center;
                 >a {
                     display: inline-block;
                     width: 230px;
                     height: 50px;
                     background: url(../images/downlaod_bg.png) no-repeat;
                     &:hover {
                         background: url(../images/downlaod_bg.png) -231px 0 no-repeat;
                     }
                 }
             }
         }
     }
 }