 @mixin font {
     font: 13px/1.5 微软雅黑, simsun, sans-serif;
 }

 #container {
     width: 100%;
     margin: 0 auto;
 }

 a {
     text-decoration: none;
 }
 /* 头部开始 */

 .header {
     position: relative;
     overflow: hidden;
     width: 1000px;
     height: 78px;
     margin: 0 auto;
     .logo {
         text-indent: -999;
         margin-top: 20px;
         margin-right: 40px;
         width: 153px;
         height: 37px;
         a {
             display: block;
         }
     }
     .search {
         position: absolute;
         top: 22px;
         left: 195px;
         width: 298px;
         height: 34px;
         border: 1px solid #ccc;
         line-height: 34px;
         input {
             position: absolute;
             left: 0;
             top: 0;
             width: 249px;
             height: 24px;
             line-height: 24px;
             border: 0;
             padding: 5px 0;
             color: #666;
             margin-left: 14px;
         }
         .btn {
             position: absolute;
             top: 0;
             right: 0;
             width: 34px;
             height: 34px;
             i {
                 display: block;
                 margin: 9px 0 0 9px;
                 width: 16px;
                 height: 16px;
                 background: url(../images/search.png) -40px -56px no-repeat;
                 &:hover {
                     background: url(../images/search.png) -40px -86px no-repeat;
                 }
             }
         }
     }
     .header-right {
         position: absolute;
         top: 30px;
         right: 0;
         width: 402px;
         height: 25px;
         .list {
             width: 250px;
             height: 19.5px;
             border-right: 1px solid #e6e6e6;
             padding-right: 11px;
             li {
                 float: left;
                 width: 82px;
                 text-align: center;
                 line-height: 19.5px;
                 a {
                     color: #777;
                     @include font;
                     &:hover {
                         color: #009af3;
                     }
                 }
             }
         }
         .login-reg {
             position: absolute;
             right: 0;
             top: -5px;
             @include font;
             width: 110px;
             height: 30px;
             a {
                 display: block;
                 float: left;
                 width: 48px;
                 height: 28px;
                 border-radius: 2px;
                 text-align: center;
                 line-height: 28px;
             }
             .login {
                 border: 1px solid #169af3;
                 background-color: #169af3;
                 color: #fff;
                 &:hover {
                     background-color: #158fe1;
                     border: 1px solid #158fe1;
                 }
             }
             .reg {
                 border: 1px solid #dbdbdb;
                 color: #777;
                 margin-left: 10px;
                 &:hover {
                     border: 1px solid #009af3;
                     color: #009af3;
                 }
             }
         }
     }
 }
 /* 头部结束 */
 /* 导航栏开始 */

 .nav {
     width: 100%;
     height: 55px;
     z-index: 999;
     background-color: #2c323b;
     .nav-nav {
         width: 1000px;
         height: 55px;
         margin: 0 auto;
         .nav-left {
             float: left;
             >li {
                 float: left;
                 @include font;
                 line-height: 55px;
                 >a {
                     display: block;
                     padding: 0 30px;
                     font-size: 16px;
                     color: #ddd;
                     &:hover {
                         background-color: #0c8ed9;
                         color: #fff;
                     }
                 }
                 .more {
                     padding: 0 40px;
                     background: url(../images/arrowMored.png) 80px 25px no-repeat;
                     &:hover {
                         background: url(../images/arrowMoreu.png) 80px 25px no-repeat;
                         background-color: #0c8ed9;
                         color: fff;
                     }
                 }
                 .nav-slide {
                     z-index: 999;
                     background-color: #2c323b;
                     display: none;
                     >li {
                         line-height: 34px;
                         >a {
                             display: block;
                             text-align: center;
                             font-size: 16px;
                             color: #ddd;
                             &:hover {
                                 border-top: 1px solid #383d44;
                                 background-color: #2d343d;
                             }
                         }
                     }
                 }
                 &.li-more:hover {
                     position: relative;
                     .nav-slide {
                         position: absolute;
                         top: 55px;
                         left: 0;
                         width: 100%;
                         display: block;
                     }
                 }
             }
         }
         .nav-right {
             float: right;
             li {
                 float: left;
                 @include font;
                 margin-left: 30px;
                 line-height: 55px;
                 a {
                     padding-left: 20px;
                     color: #bbb;
                 }
             }
             .nav-one {
                 background: url(../images/sprite.png) 0px -119px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -101px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-two {
                 background: url(../images/sprite.png) 0px -155px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -137px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-three {
                 background: url(../images/sprite.png) 0px -191px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -173px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-four {
                 background: url(../images/sprite.png) 0px -226px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -208px no-repeat;
                     color: #14a9ff;
                 }
             }
             .nav-five {
                 background: url(../images/sprite.png) 0px -281px no-repeat;
                 &:hover {
                     background: url(../images/sprite.png) 0px -245px no-repeat;
                     color: #14a9ff;
                 }
             }
         }
     }
 }
 /* 导航栏结束 */
 /* 音频部分 */

 .audio {
     position: relative;
     width: 100%;
     height: 566px;
     @include font;
     overflow: hidden;
     background-color: #000;

     .picture {
         position: absolute;
         top: 0;
         height: 0;
         width: 100%;
         height: 100%;
         z-index: 10;
         opacity: 0.6;
         background-color: rgba(0, 0, 0, .35);
         background-image: url(../images/20150715184807521489.jpg); // background-color: rgba(0, 0, 0, .35);
     }
     .print {
         background-size: cover;
         -webkit-filter: blur(90px);
         -moz-filter: blur(90px);
         -o-filter: blur(90px);
         -ms-filter: blur(90px);
         filter: blur(90px);
     }
     .iebg {
         position: absolute;
         top: 0;
         height: 0;
         width: 100%;
         height: 100%;
         z-index: 9;
         opacity: 0.6;
         background-image: url(../images/iebg.jpg);
     }
     /* 歌词部分 */
     .content {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         margin: auto;
         width: 840px;
         height: 493px;
         margin-top: 10px;
         z-index: 100;
         .content-left {
             float: left;
             width: 262px;
             height: 352px;
             .img {
                 width: 262px;
                 height: 262px;
                 margin-bottom: 25px;
             }
             .down {
                 width: 262px;
                 height: 50px;
                 margin-top: 40px;
                 text-align: center;
                 >a {
                     display: inline-block;
                     width: 230px;
                     height: 50px;
                     background: url(../images/downlaod_bg.png) no-repeat;
                     &:hover {
                         background: url(../images/downlaod_bg.png) -231px 0 no-repeat;
                     }
                 }
             }
         }
         .content-right {
             float: right;
             width: 460px;
             height: 500px;
             margin-top: -7px;
             font-size: 0;
             .songname {
                 width: 100%;
                 height: 36px;
                 >span {
                     display: inline-block;
                     font-size: 24px;
                     color: #fff;
                     line-height: 36px;
                 }
             }
             .singer {
                 height: 24px;
                 padding-top: 9px;
                 font-size: 15px;
                 color: #fff;
                 line-height: 24px;
                 >span {
                     opacity: 0.6;
                 }
                 >a {
                     color: #fff;
                 }
             }
             /* .scroll {
                 position: relative;
                 width: 460px;
                 height: 235px;
                 margin-top: 17px;
                 overflow: hidden;
                
             } */
             .scroll-y {
                 position: relative;
                 width: 460px;
                 height: 329px; // overflow-x: hidden;
                 .scroll-btn {
                     position: absolute;
                     top: 0;
                     right: 0;
                     width: 8px;
                     height: 87px;
                     background-color: #fff;
                     opacity: 0.2;
                     z-index: 9999;
                     border-radius: 8px;
                 }
                 .alllyric {
                     position: relative;
                     width: 480px;
                     height: 329px;
                     color: #fff;
                     font-size: 15px;
                     line-height: 30px;
                     overflow: hidden;
                     overflow-y: scroll;
                     .lyric {
                         position: absolute;
                         width: 480px;
                         height: 329px;
                         opacity: 0.6;
                         p {
                             width: 420px;
                             height: 34px;
                         }
                     }
                 }
             }
         }
     }
     /* 歌词部分完成 */
     /* 控制条开始 */
     .control {
         position: fixed;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 80px;
         font-size: 0;
         z-index: 1000;
         .control-top {
             position: absolute;
             top: 0;
             bottom: 0;
             width: 100%;
             height: 80px;
             background: #000;
             opacity: 0.3;
             box-shadow: 0 -10px 20px #403f3f;
         }
         .play-middle {
             position: absolute;
             top: 0;
             left: 0;
             bottom: 0;
             right: 0;
             width: 960px;
             height: 80px;
             margin: auto;
             .play-control {
                 display: inline-block;
                 width: 160px;
                 height: 80px;
                 line-height: 80px;
                 vertical-align: middle;
                 .last {
                     display: inline-block;
                     width: 36px;
                     height: 36px;
                     vertical-align: middle;
                     margin-left: -7px;
                     background: url(../images/btn.png) 0 -143px no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -36px -143px no-repeat;
                     }
                 }
                 .play {
                     display: inline-block;
                     width: 60px;
                     height: 60px;
                     margin-left: 14px;
                     margin-right: 14px;
                     vertical-align: middle;
                     background: url(../images/btn.png) no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -60px 0 no-repeat;
                     }
                 }
                 .active {
                     display: inline-block;
                     width: 60px;
                     height: 60px;
                     margin-left: 14px;
                     margin-right: 14px;
                     vertical-align: middle; // background: url(../images/btn.png) no-repeat;
                     background: url(../images/btn.png) 0 -60px no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -60px -60px no-repeat;
                     }
                 }
                 .next {
                     display: inline-block;
                     width: 36px;
                     height: 36px;
                     vertical-align: middle;
                     background: url(../images/btn.png) -144px -143px no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -180px -143px no-repeat;
                     }
                 }
             }
             .bar-image {
                 display: inline-block;
                 width: 60px;
                 height: 60px;
                 line-height: 80px;
                 vertical-align: middle;
                 margin-left: 30px;
             }
             .control-bar {
                 display: inline-block;
                 width: 370px;
                 height: 80px;
                 margin-left: 20px;
                 line-height: 80px;
                 vertical-align: middle;
                 .song-info {
                     width: 370px;
                     height: 24px;
                     padding-top: 18px;
                     line-height: 24px;
                     .like-song {
                         float: left;
                         width: 290px; // height: 24px;
                         font-family: Microsoft Yahei, '\5b8b\4f53', Arial, Verdana;
                         font-size: 13px;
                         line-height: 24px;
                         color: #c4c3c3;
                     }
                     .play-time {
                         float: right;
                         width: 77px;
                         height: 24px;
                         font-family: Tahoma, Arial, Verdana;
                         font-size: 12px;
                         color: #fff;
                         opacity: 0.6;
                     }
                 }
                 .bar {
                     width: 370px;
                     height: 5px;
                     margin-top: 11px;
                     .progress {
                         position: relative;
                         width: 370px;
                         height: 3px;
                         background: url(../images/progress_bg_middle.png) repeat-x top left;
                         .line {
                             width: 0;
                             height: 3px;
                             background: url(../images/progress_bar_middle.png) repeat-x top left;
                         }
                         .ball {
                             position: absolute;
                             top: -4.5px;
                             left: -6px;
                             width: 12px;
                             height: 12px;
                             border-radius: 50%;
                             background: url(../images/btn.png) -217px -181px no-repeat;
                         }
                     }
                 }
             }

             .control-btn {
                 display: inline-block;
                 width: 260px;
                 height: 80px;
                 line-height: 80px;
                 vertical-align: middle;
                 margin-left: 50px;

                 .voice {
                     position: relative;
                     display: inline-block;
                     width: 16px;
                     height: 16px;
                     line-height: 80px;
                     vertical-align: middle;
                     z-index: 9;


                     .ylj {
                         width: 16px;
                         height: 16px;
                         z-index: 2;
                     }
                     .Progress {
                         position: absolute;
                         bottom: 5px;
                         left: -5px;
                         width: 29px;
                         height: 160px;
                         display: none;
                     }
                     .voice-control {
                         width: 29px;
                         height: 114px;
                         background: url(../images/volume-panel.png) no-repeat; // display: none;
                         .voice-progress {
                             position: absolute;
                             top: 10px;
                             left: 13px;
                             width: 3px;
                             height: 90px;
                             .voice-line {
                                 position: absolute;
                                 left: 0;
                                 bottom: 0;
                                 width: 3px;
                                 height: 100%;
                                 background: url(../images/volume_middle.png) repeat-y top left;
                             }
                             .voice-ball {
                                 position: absolute;
                                 bottom: 88px;
                                 left: -3px;
                                 width: 9px;
                                 height: 9px;
                                 background: url(../images/btn.png) -242px -130px no-repeat;
                             }
                         }
                     }
                 }
                 .loop {
                     position: relative;
                     display: inline-block;
                     width: 16px;
                     height: 16px;
                     margin-left: 30px;
                     line-height: 80px;
                     vertical-align: middle;
                     background: url(../images/btn.png) -64px -179px no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -80px -179px no-repeat;
                     }
                     .playloop {
                         position: absolute;
                         top: -148px;
                         left: -55px;
                         width: 100px;
                         height: 95px;
                         padding: 10px;
                         display: none;
                         background: url(../images/play_style.png) no-repeat left top;
                         >a {
                             display: block;
                             width: 100px;
                             height: 30px;
                             font-size: 13px;
                             line-height: 30px;
                             border-bottom: 1px solid #30343d;
                             color: #fff;
                             >span {
                                 display: inline-block;
                                 width: 16px;
                                 height: 16px;
                                 margin: 7px 8px;
                             }

                             .listloop {
                                 vertical-align: middle;
                                 background: url(../images/btn.png) -80px -179px no-repeat;
                             }
                             .oneloop {
                                 vertical-align: middle;
                                 background: url(../images/btn.png) 0 -179px no-repeat;
                                 &:hover {
                                     background: url(../images/btn.png) -16px -179px no-repeat;
                                 }
                             }
                             .random {
                                 vertical-align: middle;
                                 background: url(../images/btn.png) -128px -179px no-repeat;
                                 &:hover {
                                     background: url(../images/btn.png) -144px -179px no-repeat;
                                 }
                             }
                         }
                         .listlist {
                             color: #19b5f0;
                         }
                     }
                 }
                 .download {
                     display: inline-block;
                     width: 15px;
                     height: 15px;
                     margin-left: 30px;
                     line-height: 80px;
                     vertical-align: middle;
                     background: url(../images/btn.png) -240px -32px no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -256px -32px no-repeat;
                     }
                 }
                 .share {
                     display: inline-block;
                     width: 15px;
                     height: 15px;
                     margin-left: 30px;
                     line-height: 80px;
                     vertical-align: middle;
                     background: url(../images/btn.png) -240px 0 no-repeat;
                     &:hover {
                         background: url(../images/btn.png) -256px 0 no-repeat;
                     }
                 }
                 .playlist {
                     position: relative;
                     display: inline-block;
                     width: 60px;
                     height: 23px;
                     margin-left: 40px;
                     line-height: 80px;
                     vertical-align: middle;
                     background: url(../images/btn.png) 0 -120px no-repeat;
                     span {
                         position: absolute;
                         top: 0;
                         left: 30px;
                         display: inline-block;
                         font-size: 13px;
                         line-height: 23px;
                         color: #fff; // vertical-align: middle;
                     }
                     &.playlist:hover {
                         background: url(../images/btn.png) -60px -120px no-repeat;
                         >span {
                             color: #1987b2;
                         }
                     }
                 }
             }
         }
     }
 }

 .active2 {
     width: 16px;
     height: 16px;
     background: url(../images/btn.png) -128px -195px no-repeat;
     &:hover {
         background: url(../images/btn.png) -144px -195px no-repeat;
     }
 }

 .active3 {
     background: url(../images/btn.png) 0 -195px no-repeat;
     &:hover {
         background: url(../images/btn.png) -16px -195px no-repeat;
     }
 }

 .active4 {
     background: url(../images/btn.png) -64px -195px no-repeat;
     &:hover {
         background: url(../images/btn.png) -80px -195px no-repeat;
     }
 }

 .active5 {
     color: #01e5ff;
 }

 .shadow {
     .login {
         width: 368px;
         height: 316px;
         padding: 30px 35px;
         background: #fff;
         font: 12px/1.5 "Microsoft YaHei", Tahoma, Arial, "b8bf53", sans-serif;
         font-size: 0;

         >div:nth-child(1) {
             width: 368px;
             height: 22px;
             margin-bottom: 10px;
             line-height: 22px;
             font-size: 22px;
             color: #333;
             font-family: "Microsoft YaHei";
         }
         form {
             width: 368px;
             height: 275px;

             div:nth-child(1) {
                 width: 368px;
                 height: 38px;
                 margin-bottom: 11px;
                 >div {
                     width: 346px;
                     height: 22px;
                     margin-top: 38px;
                     padding: 7px 10px;
                     border: 1px solid #ccc;
                     background: #f6f6f6;
                     font-size: 12px;
                     label {
                         float: left;
                         width: 36px;
                         height: 22px;
                         line-height: 22px;
                         color: #7b7b7b;
                     }
                     input {
                         float: right;
                         width: 310px;
                         height: 22px;
                         line-height: 22px;
                         font-size: 13px;
                         outline: 0;
                         border: 0;
                         background: #f6f6f6;
                         color: #a1a1a1;
                     }
                 }
             }
             div:nth-child(2) {
                 width: 368px;
                 height: 38px;
                 margin-bottom: 11px;
                 >div {
                     width: 346px;
                     height: 22px;
                     padding: 7px 10px;
                     border: 1px solid #ccc;
                     background: #f6f6f6;
                     font-size: 12px;
                     label {
                         float: left;
                         width: 36px;
                         height: 22px;
                         line-height: 22px;
                         color: #7b7b7b;
                     }
                     input {
                         float: right;
                         width: 310px;
                         height: 22px;
                         line-height: 22px;
                         outline: 0;
                         border: 0;
                         background: #f6f6f6;
                         color: #a1a1a1;
                     }
                 }
             }
             div:nth-child(3) {
                 width: 368px;
                 height: 18px;
                 margin-bottom: 10px;
                 input {
                     float: left;
                     margin-right: 5px;
                 }
                 label {
                     width: 72px;
                     height: 17px;
                     font-size: 12px;
                     color: #333;
                 }
                 a {
                     float: right;
                     display: inline-block;
                     width: 48px;
                     height: 17px;
                     color: #7b7b7b;
                     font-size: 12px;
                 }
             }
             div:nth-child(4) {
                 width: 368px;
                 height: 24px;
             }
             >input {
                 width: 368px;
                 height: 40px;
                 background-color: #2299ed;
                 border-radius: 4px;
                 border: 0;
                 outline: 0;
                 font: 12px/1.5 "Microsoft YaHei", Tahoma, Arial, "b8bf53", sans-serif;
                 font-size: 16px;
                 color: #fff;
                 text-align: center;
                 margin-bottom: 10px;
                 &:hover {
                     background-color: #158fe1;
                 }
             }
             .last {
                 width: 368px;
                 height: 38px;
                 >div {
                     float: left;
                     width: 260px;
                     height: 18px;
                     padding-top: 20px;
                     margin-bottom: 0;
                     color: #7b7b7b;
                     font-size: 12px;
                     line-height: 18px;
                     >a {
                         display: inline-block;
                         height: 16px;
                         padding-left: 16px;
                         margin-right: 5px;
                         vertical-align: middle;
                     }
                     a:nth-child(1) {
                         background: url(../images/kg_popup_splice01.png) -25px -125px no-repeat;
                     }
                     a:nth-child(2) {
                         background: url(../images/kg_popup_splice01.png) -125px -125px no-repeat;
                     }
                 }
                 >a {
                     float: right;
                     display: inline-block;
                     width: 48px;
                     height: 17px;
                     padding-top: 21px;
                     font-size: 12px;
                     color: #7b7b7b;
                     margin-right: 5px;
                     text-decoration: underline;
                     &:hover {
                         color: #474747;
                     }
                 }
             }
         }
         .close {
             position: absolute;
             top: 0;
             right: 0;
             display: inline-block;
             width: 37px;
             height: 37px;
             i {
                 position: absolute;
                 left: 0;
                 right: 0;
                 top: 0;
                 bottom: 0;
                 margin: auto;
                 display: block;
                 width: 14px;
                 height: 13px;
                 opacity: 0.6;
                 background: url(../images/kg_popup_splice01.png) -175px -100px no-repeat;
                 &:hover {
                     opacity: 1;
                 }
             }
         }
     }
 }