@charset "UTF-8";
/* *{
    margin:0;
    padding:0;
    list-style:none;
} */
.container {
  width: 100%;
  height: 2991px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* 头部开始 */
.header {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 78px;
  margin: 0 auto;
}

.header .logo {
  text-indent: -999;
  margin-top: 20px;
  margin-right: 40px;
  width: 153px;
  height: 37px;
}

.header .logo a {
  display: block;
}

.header .search {
  position: absolute;
  top: 22px;
  left: 195px;
  width: 298px;
  height: 34px;
  border: 1px solid #ccc;
  line-height: 34px;
}

.header .search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 249px;
  height: 24px;
  line-height: 24px;
  border: 0;
  padding: 5px 0;
  color: #666;
  margin-left: 14px;
}

.header .search .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
}

.header .search .btn i {
  display: block;
  margin: 9px 0 0 9px;
  width: 16px;
  height: 16px;
  background: url(../images/search.png) -40px -56px no-repeat;
}

.header .search .btn i:hover {
  background: url(../images/search.png) -40px -86px no-repeat;
}

.header .header-right {
  position: absolute;
  top: 30px;
  right: 0;
  width: 402px;
  height: 25px;
}

.header .header-right .list {
  width: 250px;
  height: 19.5px;
  border-right: 1px solid #e6e6e6;
  padding-right: 11px;
}

.header .header-right .list li {
  float: left;
  width: 82px;
  text-align: center;
  line-height: 19.5px;
}

.header .header-right .list li a {
  color: #777;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.header .header-right .list li a:hover {
  color: #009af3;
}

.header .header-right .login-reg {
  position: absolute;
  right: 0;
  top: -5px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  width: 110px;
  height: 30px;
}

.header .header-right .login-reg a {
  display: block;
  float: left;
  width: 48px;
  height: 28px;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
}

.header .header-right .login-reg .login {
  border: 1px solid #169af3;
  background-color: #169af3;
  color: #fff;
}

.header .header-right .login-reg .login:hover {
  background-color: #158fe1;
  border: 1px solid #158fe1;
}

.header .header-right .login-reg .reg {
  border: 1px solid #dbdbdb;
  color: #777;
  margin-left: 10px;
}

.header .header-right .login-reg .reg:hover {
  border: 1px solid #009af3;
  color: #009af3;
}

/* 头部结束 */
/* 导航栏开始 */
.nav {
  width: 100%;
  height: 55px;
  background-color: #2c323b;
}

.nav .nav-nav {
  width: 1000px;
  height: 55px;
  margin: 0 auto;
}

.nav .nav-nav .nav-left {
  float: left;
}

.nav .nav-nav .nav-left > li {
  float: left;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  line-height: 55px;
}

.nav .nav-nav .nav-left > li > a {
  display: block;
  padding: 0 30px;
  font-size: 16px;
  color: #ddd;
}

.nav .nav-nav .nav-left > li > a:hover {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-nav .nav-left > li .more {
  padding: 0 40px;
  background: url(../images/arrowMored.png) 80px 25px no-repeat;
}

.nav .nav-nav .nav-left > li .more:hover {
  background: url(../images/arrowMoreu.png) 80px 25px no-repeat;
  background-color: #0c8ed9;
  color: fff;
}

.nav .nav-nav .nav-left > li .nav-slide {
  z-index: 999;
  background-color: #2c323b;
  display: none;
}

.nav .nav-nav .nav-left > li .nav-slide > li {
  line-height: 34px;
}

.nav .nav-nav .nav-left > li .nav-slide > li > a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #ddd;
}

.nav .nav-nav .nav-left > li .nav-slide > li > a:hover {
  border-top: 1px solid #383d44;
  background-color: #2d343d;
}

.nav .nav-nav .nav-left > li.li-more:hover {
  position: relative;
}

.nav .nav-nav .nav-left > li.li-more:hover .nav-slide {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  display: block;
}

.nav .nav-nav .nav-right {
  float: right;
}

.nav .nav-nav .nav-right li {
  float: left;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  margin-left: 30px;
  line-height: 55px;
}

.nav .nav-nav .nav-right li a {
  padding-left: 20px;
  color: #bbb;
}

.nav .nav-nav .nav-right .nav-one {
  background: url(../images/sprite.png) 0px -119px no-repeat;
}

.nav .nav-nav .nav-right .nav-one:hover {
  background: url(../images/sprite.png) 0px -101px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-two {
  background: url(../images/sprite.png) 0px -155px no-repeat;
}

.nav .nav-nav .nav-right .nav-two:hover {
  background: url(../images/sprite.png) 0px -137px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-three {
  background: url(../images/sprite.png) 0px -191px no-repeat;
}

.nav .nav-nav .nav-right .nav-three:hover {
  background: url(../images/sprite.png) 0px -173px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-four {
  background: url(../images/sprite.png) 0px -226px no-repeat;
}

.nav .nav-nav .nav-right .nav-four:hover {
  background: url(../images/sprite.png) 0px -208px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-five {
  background: url(../images/sprite.png) 0px -281px no-repeat;
}

.nav .nav-nav .nav-right .nav-five:hover {
  background: url(../images/sprite.png) 0px -245px no-repeat;
  color: #14a9ff;
}

/* 导航栏结束 */
/* 轮播图开始 */
.slideshow {
  position: relative;
  width: 100%;
  height: 445px;
  overflow: hidden;
  /* 按钮 */
  /* 小点 */
}

.slideshow li {
  width: 100%;
  height: 445px;
}

.slideshow .slideshow-one {
  background: url(../images/20160713154957678313.jpg) top center;
}

.slideshow .slideshow-two {
  background: url(../images/20170220150607997002.jpg) top center;
}

.slideshow .slideshow-three {
  background: url(../images/20170112174112889575.jpg) top center;
}

.slideshow .slideshow-four {
  background: url(../images/20170817004730859707.jpg) top center;
}

.slideshow .slideshow-five {
  background: url(../images/20170817001651463956.jpg) top center;
}

.slideshow .slideshow-six {
  background: url(../images/20170817001918883413.jpg) top center;
}

.slideshow .slideshow-seven {
  background: url(../images/20170816121838867354.jpg) top center;
}

.slideshow .slideshow-left-btn {
  position: absolute;
  top: 162.5px;
  left: 0;
  width: 60px;
  height: 120px;
  background: url(../images/sprite.png) 0 -755px no-repeat;
  display: none;
}

.slideshow .slideshow-left-btn:hover {
  background: url(../images/sprite.png) 0 -880px no-repeat;
}

.slideshow .slideshow-right-btn {
  position: absolute;
  top: 162.5px;
  right: 0;
  width: 60px;
  height: 120px;
  background: url(../images/sprite.png) 0 -1130px no-repeat;
  display: none;
}

.slideshow .slideshow-right-btn:hover {
  background: url(../images/sprite.png) 0 -1005px no-repeat;
}

.slideshow:hover .slideshow-left-btn {
  display: block;
}

.slideshow:hover .slideshow-right-btn {
  display: block;
}

.slideshow .slideshow-point {
  position: absolute;
  top: 355px;
  left: 560px;
}

.slideshow .slideshow-point li {
  float: left;
  margin: 0 7px;
  width: 12px;
  height: 10px;
  background: url(../images/sprite.png) 0 -22px no-repeat;
}

.slideshow .down {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.slideshow .down a {
  display: block;
  float: left;
  width: 130px;
  height: 25px;
  margin-top: 20px;
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.slideshow .down span {
  float: left;
  margin-top: 20px;
  line-height: 25px;
  display: block;
  font-size: 18px;
  color: #3a618f;
}

.slideshow .down .pc {
  margin-left: 330px;
  padding: 0 45px 0 30px;
}

.slideshow .down .iphone {
  margin: 20px 0 0 55px;
  padding: 0 45px 0 30px;
  background: url(../images/mac.png) left center no-repeat;
}

.slideshow .down .android {
  margin-left: 55px;
  padding-left: 30px;
  background: url(../images/andriod.png) left center no-repeat;
}

/* 轮播图结束 */
/* 主体部分开始*/
.main {
  overflow: hidden;
  width: 1000px;
  height: 2124px;
  margin: 0 auto;
  /* 主题上部分 */
  /* 主体选项卡 */
  /* 主选项卡完成 */
  /* 广告条 */
  /* MV列表开始 */
  /* MV列表完成 */
}

.main .main-top {
  margin-top: 40px;
  width: 100%;
  height: 330px;
}

.main .main-top .main-left {
  float: left;
  width: 660px;
}

.main .main-top .main-left .left-top {
  width: 100%;
  height: 30px;
  padding-bottom: 30px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.main .main-top .main-left .left-top h3 {
  float: left;
  width: 120px;
  height: 30px;
  margin-right: 25px;
  color: #555;
  line-height: 30px;
  font-size: 25px;
}

.main .main-top .main-left .left-top h3 span {
  color: #009af3;
}

.main .main-top .main-left .left-top a {
  display: block;
  float: right;
  color: #999;
  margin-top: 7px;
}

.main .main-top .main-left .left-top a:hover {
  color: #009af3;
}

.main .main-top .main-left .left-middle {
  width: 100%;
  height: 100%;
}

.main .main-top .main-left .left-middle .middle-left {
  position: relative;
  float: left;
  width: 325px;
  height: 325px;
  margin-right: 5px;
}

.main .main-top .main-left .left-middle .middle-left a {
  display: block;
  width: 325px;
  height: 325px;
}

.main .main-top .main-left .left-middle .middle-left .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 325px;
  height: 325px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .main-top .main-left .left-middle .middle-left .mask .btn {
  width: 36px;
  height: 36px;
  margin-top: 280px;
  margin-left: 280px;
  background: url(../images/sprite.png) 0 -401px no-repeat;
}

.main .main-top .main-left .left-middle .middle-left .mask .btn:hover {
  background: url(../images/sprite.png) 0 -360px no-repeat;
}

.main .main-top .main-left .left-middle .middle-left.middle-left:hover .mask {
  display: block;
}

.main .main-top .main-left .left-middle .middle-left .introduce {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 309px;
  height: 38px;
  padding: 6px 8px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .main-top .main-left .left-middle .middle-left .introduce .songListName {
  color: #fff;
}

.main .main-top .main-left .left-middle .middle-left .introduce .songListSinger {
  color: #cfcfcf;
}

.main .main-top .main-left .left-middle .middle-left .cptT {
  position: absolute;
  top: 0;
  right: 0;
  width: 152px;
  height: 30px;
  padding-right: 8px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  background: url(../images/cptTBg.png) no-repeat right center;
}

.main .main-top .main-left .left-middle .middle-left .cptT .num {
  float: right;
  margin-top: 6px;
  display: block;
  color: #fff;
}

.main .main-top .main-left .left-middle .middle-left .cptT .icon-music {
  float: right;
  margin-top: 9px;
  margin-right: 10px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/sprite.png) 0 -267px no-repeat;
}

.main .main-top .main-left .left-middle .middle-right {
  float: right;
  width: 325px;
}

.main .main-top .main-left .left-middle .middle-right li {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
}

.main .main-top .main-left .left-middle .middle-right li a {
  display: block;
  width: 160px;
  height: 160px;
}

.main .main-top .main-left .left-middle .middle-right li .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .main-top .main-left .left-middle .middle-right li .mask .btn {
  width: 36px;
  height: 36px;
  margin-top: 115px;
  margin-left: 115px;
  background: url(../images/sprite.png) 0 -401px no-repeat;
}

.main .main-top .main-left .left-middle .middle-right li .mask .btn:hover {
  background: url(../images/sprite.png) 0 -360px no-repeat;
}

.main .main-top .main-left .left-middle .middle-right li .introduce {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 144px;
  height: 38px;
  padding: 6px 8px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .main-top .main-left .left-middle .middle-right li .introduce .songListName {
  width: 100px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .main-top .main-left .left-middle .middle-right li .introduce .songListSinger {
  width: 100px;
  color: #cfcfcf;
}

.main .main-top .main-left .left-middle .middle-right li .cptT {
  position: absolute;
  top: 0;
  right: 0;
  width: 152px;
  height: 30px;
  padding-right: 8px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  background: url(../images/cptTBg.png) no-repeat right center;
}

.main .main-top .main-left .left-middle .middle-right li .cptT .num {
  float: right;
  margin-top: 6px;
  display: block;
  color: #fff;
}

.main .main-top .main-left .left-middle .middle-right li .cptT .icon-music {
  float: right;
  margin-top: 9px;
  margin-right: 10px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/sprite.png) 0 -267px no-repeat;
}

.main .main-top .main-left .left-middle li:nth-child(1) {
  margin-right: 5px;
  margin-bottom: 5px;
}

.main .main-top .main-left .left-middle li:nth-child(1):hover .mask {
  display: block;
}

.main .main-top .main-left .left-middle li:nth-child(2) {
  margin-bottom: 5px;
}

.main .main-top .main-left .left-middle li:nth-child(2):hover .mask {
  display: block;
}

.main .main-top .main-left .left-middle li:nth-child(3) {
  margin-right: 5px;
}

.main .main-top .main-left .left-middle li:nth-child(3):hover .mask {
  display: block;
}

.main .main-top .main-left .left-middle li:nth-child(4):hover .mask {
  display: block;
}

.main .main-top .main-right {
  float: right;
  width: 320px;
}

.main .main-top .main-right .right-top {
  width: 100%;
  height: 30px;
  padding-bottom: 30px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.main .main-top .main-right .right-top h3 {
  float: left;
  width: 120px;
  height: 30px;
  margin-right: 25px;
  color: #555;
  line-height: 30px;
  font-size: 25px;
}

.main .main-top .main-right .right-top h3 span {
  color: #009af3;
}

.main .main-top .main-right .right-top a {
  display: block;
  float: right;
  color: #999;
  margin-top: 7px;
}

.main .main-top .main-right .right-top a:hover {
  color: #009af3;
}

.main .main-top .main-right .hot {
  width: 320px;
  height: 98px;
  margin-bottom: 15px;
  background-color: #f6f6f6;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  img-float: left;
}

.main .main-top .main-right .hot dl {
  float: right;
  width: 200px;
  height: 68px;
  padding: 15px 10px;
}

.main .main-top .main-right .hot dl dt {
  width: 200px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
}

.main .main-top .main-right .hot dl dd {
  width: 170px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .main-top .main-right .hot dl span {
  float: right;
  margin-top: -44px;
  width: 7px;
  height: 14px;
  display: block;
  background: url(../images/sprite.png) 0 -322px no-repeat;
}

.main .option {
  width: 100%;
  height: 375px;
  margin-top: 40px;
  font-size: 0;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.main .option .option-left {
  float: left;
  width: 650px;
  height: 375px;
}

.main .option .option-left .newsong {
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
}

.main .option .option-left .newsong .newlogo {
  float: left;
  width: 120px;
  height: 30px;
  margin-right: 25px;
  background: url(../images/newlist.jpg) no-repeat;
}

.main .option .option-left .newsong > ul {
  float: left;
}

.main .option .option-left .newsong > ul li {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  line-height: 30px;
}

.main .option .option-left .newsong > ul li:hover {
  color: #009af3;
}

.main .option .option-left .newsong .newbtn {
  position: relative;
  float: right;
  width: 69px;
  height: 19.5px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  padding: 5px 10px;
  color: #555;
  line-height: 19.5px;
  background-color: #fff;
  font-size: 0;
}

.main .option .option-left .newsong .newbtn span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 11px;
  margin: auto;
  display: inline-block;
  width: 12px;
  height: 14px;
  font-size: 13px;
  background: url(../images/sprite.png) 0 -303px no-repeat;
}

.main .option .option-left .newsong .newbtn p {
  display: inline-block;
  margin-left: 17px;
  line-height: 19.5px;
  font-size: 13px;
}

.main .option .option-left .newsong .newbtn:hover {
  border: 1px solid #009af3;
  color: #009af3;
}

.main .option .option-left .newsong .newbtn:hover span {
  background: url(../images/sprite.png) 0 -341px no-repeat;
}

.main .option .option-left .playlist {
  width: 100%;
  height: 280px;
}

.main .option .option-left .playlist a {
  position: relative;
  display: inline-block;
  width: 630px;
  height: 35px;
  padding: 0 10px;
  line-height: 35px;
  color: #333;
}

.main .option .option-left .playlist a span {
  display: inline-block;
}

.main .option .option-left .playlist a .dujia {
  width: 25px;
  height: 15px;
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 21px;
  background: url(../images/first.png) 0 0 no-repeat;
}

.main .option .option-left .playlist a .playsong {
  position: absolute;
  top: 10px;
  right: 80px;
  width: 12px;
  height: 14px;
  display: none;
  background: url(../images/icon_splice.png);
}

.main .option .option-left .playlist a .playsong:hover {
  background: url(../images/icon_splice.png) no-repeat 0 -30px;
}

.main .option .option-left .playlist a .songdown {
  position: absolute;
  top: 10px;
  right: 55px;
  width: 15px;
  height: 15px;
  display: none;
  background: url(../images/icon_splice.png) no-repeat -90px 0;
}

.main .option .option-left .playlist a .songdown:hover {
  background: url(../images/icon_splice.png) no-repeat -90px -30px;
}

.main .option .option-left .playlist a .songtime {
  position: absolute;
  top: 0;
  right: 10px;
}

.main .option .option-left .playlist a:hover {
  color: #009af3;
}

.main .option .option-left .playlist a:hover .dujia {
  display: none;
}

.main .option .option-left .playlist a:hover .playsong {
  display: block;
}

.main .option .option-left .playlist a:hover .songdown {
  display: block;
}

.main .option .option-left .page {
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  text-align: center;
}

.main .option .option-left .page .lastpage {
  display: inline-block;
  width: 6px;
  height: 9px;
  background: url(../images/pageChange.jpg) no-repeat;
}

.main .option .option-left .page .lastpage:hover {
  background: url(../images/pageChange.jpg) no-repeat 0 -14px;
}

.main .option .option-left .page .changepage {
  color: #8d8d8d;
  margin: 0 15px;
  font-size: 12px;
}

.main .option .option-left .page .nextpage {
  display: inline-block;
  width: 6px;
  height: 9px;
  background: url(../images/pageChange.jpg) no-repeat -13px 0;
}

.main .option .option-left .page .nextpage:hover {
  background: url(../images/pageChange.jpg) no-repeat -13px -14px;
}

.main .option .option-right {
  float: right;
  width: 320px;
}

.main .option .option-right .recommend {
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
  color: #555;
}

.main .option .option-right .recommend h3 {
  float: left;
  width: 120px;
  height: 30px;
  margin-right: 25px;
  background: url(../images/albumlist.jpg) no-repeat;
}

.main .option .option-right .recommend p {
  float: right;
  line-height: 30px;
}

.main .option .option-right .MV {
  position: relative;
  width: 320px;
  height: 175px;
  margin-bottom: 12px;
}

.main .option .option-right .MV a {
  display: block;
  width: 320px;
  height: 175px;
}

.main .option .option-right .MV .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 175px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .option .option-right .MV .mask .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  background: url(../images/sprite.png) 0 -542px no-repeat;
}

.main .option .option-right .MV .mask .btn:hover {
  background: url(../images/sprite.png) 0 -489px no-repeat;
}

.main .option .option-right .MV.MV:hover .mask {
  display: block;
}

.main .option .option-right .MV .introduce {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 304px;
  height: 38px;
  padding: 6px 8px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  font-size: 14px;
  line-height: 19px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .option .option-right .MV .introduce .songListName {
  color: #fff;
}

.main .option .option-right .MV .introduce .songListSinger {
  color: #cfcfcf;
}

.main .option .option-right .MV-left {
  float: left;
}

.main .option .option-right .MV-right {
  float: right;
}

.main .option .option-right .MV-left,
.main .option .option-right .MV-right {
  position: relative;
  width: 154px;
  height: 84px;
}

.main .option .option-right .MV-left a,
.main .option .option-right .MV-right a {
  display: block;
  width: 154px;
  height: 84px;
}

.main .option .option-right .MV-left .mask,
.main .option .option-right .MV-right .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  height: 84px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .option .option-right .MV-left .mask .btn,
.main .option .option-right .MV-right .mask .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  background: url(../images/sprite.png) 0 -542px no-repeat;
}

.main .option .option-right .MV-left .mask .btn:hover,
.main .option .option-right .MV-right .mask .btn:hover {
  background: url(../images/sprite.png) 0 -489px no-repeat;
}

.main .option .option-right .MV-left.MV-left:hover .mask,
.main .option .option-right .MV-right.MV-left:hover .mask {
  display: block;
}

.main .option .option-right .MV-left.MV-right:hover .mask,
.main .option .option-right .MV-right.MV-right:hover .mask {
  display: block;
}

.main .option .option-right .MV-left .introduce,
.main .option .option-right .MV-right .introduce {
  width: 154px;
  height: 38px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.main .option .option-right .MV-left .introduce .songListName,
.main .option .option-right .MV-right .introduce .songListName {
  color: #444;
}

.main .option .option-right .MV-left .introduce .songListName:hover,
.main .option .option-right .MV-right .introduce .songListName:hover {
  color: #009af3;
}

.main .option .option-right .MV-left .introduce .songListSinger,
.main .option .option-right .MV-right .introduce .songListSinger {
  font-size: 12px;
  color: #888;
}

.main > img {
  margin-top: 30px;
}

.main .hotradio {
  width: 100%;
  height: 355px;
  margin-top: 40px;
  font-size: 0;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.main .hotradio .hotradio-left {
  float: left;
  width: 650px;
}

.main .hotradio .hotradio-left .recommend {
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
  color: #555;
}

.main .hotradio .hotradio-left .recommend h3 {
  float: left;
  width: 120px;
  height: 30px;
  margin-right: 25px;
  background: url(../images/hotredio.jpg) no-repeat;
}

.main .hotradio .hotradio-left .recommend p {
  float: right;
  line-height: 30px;
}

.main .hotradio .hotradio-left .lista {
  float: left;
  display: block;
  width: 100px;
  height: 130px;
  margin: 0 37px 25px 0;
}

.main .hotradio .hotradio-left .lista .radio {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.main .hotradio .hotradio-left .lista .radio > img {
  border-radius: 50%;
}

.main .hotradio .hotradio-left .lista .radio .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .hotradio .hotradio-left .lista .radio .mask .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 42px;
  height: 42px;
  background: url(../images/sprite.png) 0 -442px no-repeat;
}

.main .hotradio .hotradio-left .lista .radiokind {
  width: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.main .hotradio .hotradio-left .lista.lista:hover .mask {
  display: block;
}

.main .hotradio .hotradio-left .lista.lista:hover .radiokind {
  color: #009af3;
}

.main .hotradio .hotradio-left .listt {
  margin-right: 0;
}

.main .hotradio .hotradio-right {
  position: relative;
  float: right;
  width: 325px;
  height: 355px;
  font-size: 0;
}

.main .hotradio .hotradio-right .newsong {
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.main .hotradio .hotradio-right .newsong .newlogo {
  float: left;
  width: 120px;
  height: 30px;
  margin-right: 20px;
  background: url(../images/hotsinger.jpg) no-repeat;
}

.main .hotradio .hotradio-right .newsong .more {
  float: right;
  line-height: 30px;
  color: #999;
}

.main .hotradio .hotradio-right .newsong .more:hover {
  color: #009af3;
}

.main .hotradio .hotradio-right .newsong > ul {
  float: left;
}

.main .hotradio .hotradio-right .newsong > ul li {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  line-height: 30px;
}

.main .hotradio .hotradio-right .newsong > ul li:hover {
  color: #009af3;
}

.main .hotradio .hotradio-right .hotsinger {
  width: 100%;
  font-size: 0;
}

.main .hotradio .hotradio-right .hotsinger .sbig {
  float: left;
}

.main .hotradio .hotradio-right .hotsinger .hbig {
  float: right;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-big {
  position: relative;
  width: 160px;
  margin-bottom: 5px;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-big .singer {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 150px;
  height: 35px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  font-size: 14px;
  color: #fff;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-big .singer p {
  line-height: 35px;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-big .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-big.hotsinger-big:hover .mask {
  display: block;
}

.main .hotradio .hotradio-right .hotsinger .hsmall {
  margin: 0 5px;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-small {
  position: relative;
  float: left;
  width: 105px;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-small .singer {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 95px;
  height: 35px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  font-size: 14px;
  color: #fff;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-small .singer p {
  line-height: 35px;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-small .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.main .hotradio .hotradio-right .hotsinger .hotsinger-small.hotsinger-small:hover .mask {
  display: block;
}

.main .hotradio .hotradio-right .hotsinger-point {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  padding-top: 17px;
  text-align: center;
}

.main .hotradio .hotradio-right .hotsinger-point > li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 8px;
}

.main .hotradio .hotradio-right .hotsinger-point > li a {
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url(../images/sprite.png) 0 -11px no-repeat;
}

.main .hotradio .hotradio-right .hotsinger-point > li a:hover {
  background: url(../images/sprite.png) 0 0 no-repeat;
}
