.container {
  width: 1366px;
  height: 2991px;
  background-color: #ddd; }

.header {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 78px;
  margin: 0 auto;
  background-color: red; }
  .header .logo {
    text-indent: -999;
    margin-top: 20px;
    margin-right: 40px; }
    .header .logo a {
      display: block; }
  .header .search {
    position: absolute;
    top: 22px;
    left: 14px;
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    line-height: 34px;
    margin-top: 22px; }
    .header .search input {
      position: absolute;
      left: 0;
      top: 0;
      width: 249px;
      height: 24px;
      line-height: 24px;
      border: 0;
      margin-left: 14px;
      padding: 5px 0;
      color: #666; }
    .header .search .btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      height: 34px; }
      .header .search .btn .icon-search {
        font-size: 14px;
        text-align: center;
        margin-left: 9px; }
      .header .search .btn:hover {
        color: #169263; }
  .header .header-right {
    top: 30px;
    right: 0;
    width: 402px;
    height: 25px;
    background: pink; }
