@charset "UTF-8";
#container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* 头部开始 */
.header {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 78px;
  margin: 0 auto;
}

.header .logo {
  text-indent: -999;
  margin-top: 20px;
  margin-right: 40px;
  width: 153px;
  height: 37px;
}

.header .logo a {
  display: block;
}

.header .search {
  position: absolute;
  top: 22px;
  left: 195px;
  width: 298px;
  height: 34px;
  border: 1px solid #ccc;
  line-height: 34px;
}

.header .search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 249px;
  height: 24px;
  line-height: 24px;
  border: 0;
  padding: 5px 0;
  color: #666;
  margin-left: 14px;
}

.header .search .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
}

.header .search .btn i {
  display: block;
  margin: 9px 0 0 9px;
  width: 16px;
  height: 16px;
  background: url(../images/search.png) -40px -56px no-repeat;
}

.header .search .btn i:hover {
  background: url(../images/search.png) -40px -86px no-repeat;
}

.header .header-right {
  position: absolute;
  top: 30px;
  right: 0;
  width: 402px;
  height: 25px;
}

.header .header-right .list {
  width: 250px;
  height: 19.5px;
  border-right: 1px solid #e6e6e6;
  padding-right: 11px;
}

.header .header-right .list li {
  float: left;
  width: 82px;
  text-align: center;
  line-height: 19.5px;
}

.header .header-right .list li a {
  color: #777;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
}

.header .header-right .list li a:hover {
  color: #009af3;
}

.header .header-right .login-reg {
  position: absolute;
  right: 0;
  top: -5px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  width: 110px;
  height: 30px;
}

.header .header-right .login-reg a {
  display: block;
  float: left;
  width: 48px;
  height: 28px;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
}

.header .header-right .login-reg .login {
  border: 1px solid #169af3;
  background-color: #169af3;
  color: #fff;
}

.header .header-right .login-reg .login:hover {
  background-color: #158fe1;
  border: 1px solid #158fe1;
}

.header .header-right .login-reg .reg {
  border: 1px solid #dbdbdb;
  color: #777;
  margin-left: 10px;
}

.header .header-right .login-reg .reg:hover {
  border: 1px solid #009af3;
  color: #009af3;
}

/* 头部结束 */
/* 导航栏开始 */
.nav {
  width: 100%;
  height: 55px;
  z-index: 999;
  background-color: #2c323b;
}

.nav .nav-nav {
  width: 1000px;
  height: 55px;
  margin: 0 auto;
}

.nav .nav-nav .nav-left {
  float: left;
}

.nav .nav-nav .nav-left > li {
  float: left;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  line-height: 55px;
}

.nav .nav-nav .nav-left > li > a {
  display: block;
  padding: 0 30px;
  font-size: 16px;
  color: #ddd;
}

.nav .nav-nav .nav-left > li > a:hover {
  background-color: #0c8ed9;
  color: #fff;
}

.nav .nav-nav .nav-left > li .more {
  padding: 0 40px;
  background: url(../images/arrowMored.png) 80px 25px no-repeat;
}

.nav .nav-nav .nav-left > li .more:hover {
  background: url(../images/arrowMoreu.png) 80px 25px no-repeat;
  background-color: #0c8ed9;
  color: fff;
}

.nav .nav-nav .nav-left > li .nav-slide {
  z-index: 999;
  background-color: #2c323b;
  display: none;
}

.nav .nav-nav .nav-left > li .nav-slide > li {
  line-height: 34px;
}

.nav .nav-nav .nav-left > li .nav-slide > li > a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #ddd;
}

.nav .nav-nav .nav-left > li .nav-slide > li > a:hover {
  border-top: 1px solid #383d44;
  background-color: #2d343d;
}

.nav .nav-nav .nav-left > li.li-more:hover {
  position: relative;
}

.nav .nav-nav .nav-left > li.li-more:hover .nav-slide {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  display: block;
}

.nav .nav-nav .nav-right {
  float: right;
}

.nav .nav-nav .nav-right li {
  float: left;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  margin-left: 30px;
  line-height: 55px;
}

.nav .nav-nav .nav-right li a {
  padding-left: 20px;
  color: #bbb;
}

.nav .nav-nav .nav-right .nav-one {
  background: url(../images/sprite.png) 0px -119px no-repeat;
}

.nav .nav-nav .nav-right .nav-one:hover {
  background: url(../images/sprite.png) 0px -101px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-two {
  background: url(../images/sprite.png) 0px -155px no-repeat;
}

.nav .nav-nav .nav-right .nav-two:hover {
  background: url(../images/sprite.png) 0px -137px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-three {
  background: url(../images/sprite.png) 0px -191px no-repeat;
}

.nav .nav-nav .nav-right .nav-three:hover {
  background: url(../images/sprite.png) 0px -173px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-four {
  background: url(../images/sprite.png) 0px -226px no-repeat;
}

.nav .nav-nav .nav-right .nav-four:hover {
  background: url(../images/sprite.png) 0px -208px no-repeat;
  color: #14a9ff;
}

.nav .nav-nav .nav-right .nav-five {
  background: url(../images/sprite.png) 0px -281px no-repeat;
}

.nav .nav-nav .nav-right .nav-five:hover {
  background: url(../images/sprite.png) 0px -245px no-repeat;
  color: #14a9ff;
}

/* 导航栏结束 */
/* 音频部分 */
.audio {
  position: relative;
  width: 100%;
  height: 566px;
  font: 13px/1.5 微软雅黑, simsun, sans-serif;
  overflow: hidden;
  background-color: #000;
  /* 歌词部分 */
  /* 歌词部分完成 */
  /* 控制条开始 */
}

.audio .picture {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.35);
  background-image: url(../images/20160426113238585.jpg);
}

.audio .print {
  background-size: cover;
  -webkit-filter: blur(90px);
  -moz-filter: blur(90px);
  -o-filter: blur(90px);
  -ms-filter: blur(90px);
  filter: blur(90px);
}

.audio .iebg {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0.6;
  background-image: url(../images/iebg.jpg);
}

.audio .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 840px;
  height: 493px;
  margin-top: 10px;
  z-index: 100;
}

.audio .content .content-left {
  float: left;
  width: 262px;
  height: 352px;
}

.audio .content .content-left .img {
  width: 262px;
  height: 262px;
  margin-bottom: 25px;
}

.audio .content .content-left .down {
  width: 262px;
  height: 50px;
  margin-top: 40px;
  text-align: center;
}

.audio .content .content-left .down > a {
  display: inline-block;
  width: 230px;
  height: 50px;
  background: url(../images/downlaod_bg.png) no-repeat;
}

.audio .content .content-left .down > a:hover {
  background: url(../images/downlaod_bg.png) -231px 0 no-repeat;
}

.audio .content .content-right {
  float: right;
  width: 460px;
  height: 500px;
  margin-top: -7px;
  font-size: 0;
}

.audio .content .content-right .songname {
  width: 100%;
  height: 36px;
}

.audio .content .content-right .songname > span {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  line-height: 36px;
}

.audio .content .content-right .singer {
  height: 24px;
  padding-top: 9px;
  font-size: 15px;
  color: #fff;
  line-height: 24px;
}

.audio .content .content-right .singer > span {
  opacity: 0.6;
}

.audio .content .content-right .singer > a {
  color: #fff;
}

.audio .content .content-right .alllyric {
  position: relative;
  margin-top: 17px;
  height: 329px;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  overflow: hidden;
}

.audio .content .content-right .alllyric .lyric {
  width: 448px;
  height: 1870px;
  opacity: 0.6;
}

.audio .content .content-right .alllyric .lyric p {
  width: 420px;
  height: 34px;
}

.audio .content .content-right .alllyric .scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 329px;
}

.audio .content .content-right .alllyric .scroll .scroll-btn {
  width: 8px;
  height: 58px;
  background: #fff;
  opacity: 0.2;
  border-radius: 8px;
}

.audio .control {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-size: 0;
  z-index: 1000;
}

.audio .control .control-top {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #000;
  opacity: 0.3;
  box-shadow: 0 -10px 20px #403f3f;
}

.audio .control .play-middle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 960px;
  height: 80px;
  margin: auto;
}

.audio .control .play-middle .play-control {
  display: inline-block;
  width: 160px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}

.audio .control .play-middle .play-control .last {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-left: -7px;
  background: url(../images/btn.png) 0 -143px no-repeat;
}

.audio .control .play-middle .play-control .last:hover {
  background: url(../images/btn.png) -36px -143px no-repeat;
}

.audio .control .play-middle .play-control .play {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 14px;
  margin-right: 14px;
  vertical-align: middle;
  background: url(../images/btn.png) no-repeat;
}

.audio .control .play-middle .play-control .play:hover {
  background: url(../images/btn.png) -60px 0 no-repeat;
}

.audio .control .play-middle .play-control .next {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  background: url(../images/btn.png) -144px -143px no-repeat;
}

.audio .control .play-middle .play-control .next:hover {
  background: url(../images/btn.png) -180px -143px no-repeat;
}

.audio .control .play-middle .bar-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 80px;
  vertical-align: middle;
  margin-left: 30px;
}

.audio .control .play-middle .control-bar {
  display: inline-block;
  width: 370px;
  height: 80px;
  margin-left: 20px;
  line-height: 80px;
  vertical-align: middle;
}

.audio .control .play-middle .control-bar .song-info {
  width: 370px;
  height: 24px;
  padding-top: 18px;
  line-height: 24px;
}

.audio .control .play-middle .control-bar .song-info .like-song {
  float: left;
  width: 290px;
  font-family: Microsoft Yahei, '\5b8b\4f53', Arial, Verdana;
  font-size: 13px;
  line-height: 24px;
  color: #c4c3c3;
}

.audio .control .play-middle .control-bar .song-info .play-time {
  float: right;
  width: 77px;
  height: 24px;
  font-family: Tahoma, Arial, Verdana;
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}

.audio .control .play-middle .control-bar .bar {
  width: 370px;
  height: 5px;
  margin-top: 11px;
}

.audio .control .play-middle .control-bar .bar .progress {
  position: relative;
  width: 370px;
  height: 3px;
  background: url(../images/progress_bg_middle.png) repeat-x top left;
}

.audio .control .play-middle .control-bar .bar .progress .line {
  width: 100px;
  height: 3px;
  background: url(../images/progress_bar_middle.png) repeat-x top left;
}

.audio .control .play-middle .control-bar .bar .progress .ball {
  position: absolute;
  top: -4.5px;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: url(../images/btn.png) -217px -181px no-repeat;
}

.audio .control .play-middle .control-btn {
  display: inline-block;
  width: 260px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  margin-left: 50px;
}

.audio .control .play-middle .control-btn .voice {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 80px;
  vertical-align: middle;
  background: url(../images/btn.png) 0 -195px no-repeat;
}

.audio .control .play-middle .control-btn .voice:hover {
  background: url(../images/btn.png) -16px -195px no-repeat;
}

.audio .control .play-middle .control-btn .voice .voice-control {
  position: absolute;
  top: -148px;
  left: -5px;
  width: 29px;
  height: 114px;
  background: url(../images/volume-panel.png) no-repeat;
}

.audio .control .play-middle .control-btn .voice .voice-control .voice-progress {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 3px;
  height: 90px;
}

.audio .control .play-middle .control-btn .voice .voice-control .voice-progress .voice-line {
  width: 3px;
  height: 10px;
  background: url(../images/volume_middle.png) repeat-y top left;
}

.audio .control .play-middle .control-btn .voice .voice-control .voice-progress .voice-ball {
  position: absolute;
  bottom: -4.5px;
  left: -3px;
  width: 9px;
  height: 9px;
  background: url(../images/btn.png) -242px -130px no-repeat;
}

.audio .control .play-middle .control-btn .loop {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 30px;
  line-height: 80px;
  vertical-align: middle;
  background: url(../images/btn.png) -64px -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop:hover {
  background: url(../images/btn.png) -80px -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop .playloop {
  position: absolute;
  top: -148px;
  left: -5px;
  width: 100px;
  height: 95px;
  padding: 10px;
  background: url(../images/play_style.png) no-repeat left top;
}

.audio .control .play-middle .control-btn .loop .playloop > a {
  display: block;
  width: 100px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid #30343d;
  color: #fff;
}

.audio .control .play-middle .control-btn .loop .playloop > a > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 7px 8px;
}

.audio .control .play-middle .control-btn .loop .playloop > a .listloop {
  vertical-align: middle;
  background: url(../images/btn.png) -64px -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop .playloop > a .listloop:hover {
  background: url(../images/btn.png) -80px -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop .playloop > a .oneloop {
  vertical-align: middle;
  background: url(../images/btn.png) 0 -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop .playloop > a .oneloop:hover {
  background: url(../images/btn.png) -16px -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop .playloop > a .random {
  vertical-align: middle;
  background: url(../images/btn.png) -128px -179px no-repeat;
}

.audio .control .play-middle .control-btn .loop .playloop > a .random:hover {
  background: url(../images/btn.png) -144px -179px no-repeat;
}

.audio .control .play-middle .control-btn .download {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 30px;
  line-height: 80px;
  vertical-align: middle;
  background: url(../images/btn.png) -240px -32px no-repeat;
}

.audio .control .play-middle .control-btn .download:hover {
  background: url(../images/btn.png) -256px -32px no-repeat;
}

.audio .control .play-middle .control-btn .share {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 30px;
  line-height: 80px;
  vertical-align: middle;
  background: url(../images/btn.png) -240px 0 no-repeat;
}

.audio .control .play-middle .control-btn .share:hover {
  background: url(../images/btn.png) -256px 0 no-repeat;
}

.audio .control .play-middle .control-btn .playlist {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 23px;
  margin-left: 40px;
  line-height: 80px;
  vertical-align: middle;
  background: url(../images/btn.png) 0 -120px no-repeat;
}

.audio .control .play-middle .control-btn .playlist span {
  position: absolute;
  top: 0;
  left: 30px;
  display: inline-block;
  font-size: 13px;
  line-height: 23px;
  color: #fff;
}

.audio .control .play-middle .control-btn .playlist.playlist:hover {
  background: url(../images/btn.png) -60px -120px no-repeat;
}

.audio .control .play-middle .control-btn .playlist.playlist:hover > span {
  color: #1987b2;
}
